@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Fascinate&family=Inter:wght@300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contactMe{
  /* position: relative; */
  width: 100%;
  height: 800px;
  background: #FFFFFF;
  padding: 0% 8%;
  margin-top: 100px;
  position: absolute;
  gap: 64px;
  font-family: Inter;
  font-weight: 300;
  


 
}
@media screen and (min-width: 1144px) {
  .contactMe{
    width: 100%;
    padding-left: 400px;
    padding-right: 400px;
    align-items: center;
    
   
    
  }

  
}



.contact__content{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 24px;
    justify-content: space-between;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 1440px;
  
  
    }
    @media screen and (max-width: 500px) {
      .footer-content{
        flex-direction: column;
        align-items: flex-start;
      }
    
}


.heading{
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: -0.02em;
  justify-content: center;
  align-items: center;
  /* identical to box height, or 150% */

  color: #000000;
}


form {
    padding: 2% 0 8%;
  }
  
  .contact h1,
  .contact p,
  form label,
  form input,
  form textarea {
    text-align: left;
  }
  
  form input,
  form textarea {
    width: 100%;
    padding: 10px 14px;
    border: 1px solid rgb(211, 211, 211);
    border-radius: 8px;
    outline: none;
    gap: 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    
  }
  
  input:focus,
  textarea:focus {
    border: 1px solid #5cb2fd;
  }
  
  form #check {
    width: fit-content;
    display: flex;
    font-size: 0.9rem;
  }
  
  form input#check {
    margin-right: 0.5rem;
  }
  
  form #name {
    display: flex;
    width: 100%;
  }
  
  form label#last_name {
    margin-left: 1.5rem;
  }
  
  #first_name,
  #last_name {
    width: 100%;
  }
  
  form button,
  form input[type="submit"] {
    width: 100%;
    text-align: center;
    padding: 1rem;
    cursor: pointer;
    border-radius: 8px;
    color: white;
    background-color: #1a8df2;
    outline: none;
    border: none;
    font-size: 110%;
    font-weight: 200;
    margin-top: 1rem;
    
  }
  
  form button:hover {
    background-color: #59aceb;
  }
  



  .footer{
flex-direction: row;
align-items: center;
justify-content: center;
width: 100%;


}
@media screen and (min-width: 1144px) {
  .footer {
    padding: 100px 10px ;

    
  
 ;
   

  }


  }


.footer-container h1{
    font-family: inter;
  }
  
  
  .footer__logo{
    /* position: absolute; */
    /* left: 3%;
    right: 0.64%;
    top: 21.82%;
    bottom: 0.88%; */
    height: 24.73708152770996px;
    width: 185.0301055908203px;
    border-radius: 0px;
    margin: 0.6rem 0;
  
  }
  .footer-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 24px;
    justify-content: space-between;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 1440px;
  
  
    }
    @media screen and (max-width: 500px) {
      .footer-content{
        flex-direction: column;
        align-items: flex-start;
      }
    }
  
  
  
  .footer-text{
    /* width: 832.28px;
    height: 24px; */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #667085;
    line-height: 24px;
    text-align: center;
    /* flex: none; */
    /* order: 1; */
    /* flex-grow: 1; */
    /* padding-left: 450px; */
    /* margin: auto;
    margin-top: 1rem; */
  }
  
  
  .font-content{
    box-sizing: border-box;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0px 0px;
    gap: 32px;
  
    width: 1216px;
    height: 64px;
  }
  
  
  .zuriimpress{
    height: 32px;
    width: 132.1290283203125px;
    /* left: 1083.8709716796875px;
    top: 32px; */
    border-radius: 0px;
    background: url(zuriimpress.png);
    /* flex: none;
    order: 2;
    flex-grow: 0; */
    /* position: absolute; */
    margin: 0.6rem 0;
    /* margin-top: -24px; */
  
  
  
  }
  