@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");





@tailwind base;
@tailwind components;
@tailwind utilities;

.profile{
  position: relative;
  width: 1440px;
  height: 1158px;

  background: #ffffff;
}



.profile__img{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  width: 88px;
  height: 88px;
  border-radius: 275px;
  flex: none;
  border: 0;
  flex-grow: 0;
  z-index: 0;

}


.profile__Arrow{
  position: absolute;
  left: 12.5%;
  right: 11.53%;
  top: 14.95%;
  bottom: 14.95%;
}



.footer{
  display: flex;
flex-direction: column;
align-items: center;
padding: 48px 0px;
gap: 64px;

position: absolute;
width: 1440px;
height: 160px;
left: 0px;
top: 998px;
background-color: #ffffff;
}


.footer-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 32px;
  gap: 32px;

  width: 1280px;
  height: 64px;
}

.footer-container h1{
  font-family: inter;
}


.footer__logo{
  position: absolute;
  left: 0.72%;
  right: 0.64%;
  top: 21.82%;
  bottom: 0.88%;
  height: 24.73708152770996px;
  width: 185.0301055908203px;
  border-radius: 0px;

}



.footer-text{
  width: 832.28px;
  height: 24px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #667085;
  line-height: 24px;
  text-align: center;
  flex: none;
  order: 1;
  flex-grow: 1;
}


.font-content{
  box-sizing: border-box;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 32px 0px 0px;
  gap: 32px;

  width: 1216px;
  height: 64px;
}


.zuriimpress{
  height: 32px;
  width: 132.1290283203125px;
  left: 1083.8709716796875px;
  top: 32px;
  border-radius: 0px;
  background: url(zuriimpress.png);
  flex: none;
  order: 2;
  flex-grow: 0;



}


